@import "tailwindcss";

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	/* color: rgba(255, 255, 255, 0.87); */
	/* background-color: #242424; */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.layout-container .el-card__body {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: auto;
}

.layout-container .el-card__body .el-table {
	flex: 1;
}

.layout-container {
	width: 100%;
	height: calc(100vh - 180px);
}

.layout-container .layout-flex {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.layout-container .layout-main .layout-main-scroll .layout-parent {
	display: flex;
	flex-direction: column;
	flex: 1;
	position: relative;
}

.layout-container .layout-padding-auto {
	height: inherit;
	display: flex;
	flex-direction: column;
	flex: 1;
}
